* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header header header"
    "sidebar products products products products"
    "footer footer footer footer footer";
}