@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bungee&family=Hubballi&family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
}
html, body {
    text-align: center;
    /* font-family: 'Hubballi', cursive; */
    font-family: 'Patrick Hand', cursive;
    /* background-color: burlywood; */
    line-height: 1.5;
    font-size: 18px;

    background: #A47B4C;
    background: -moz-linear-gradient(-45deg, #A47B4C 0%, #CBC47E 60%, #127275 100%);
    background: -webkit-linear-gradient(-45deg, #A47B4C 0%, #CBC47E 60%, #127275 100%);
    background: linear-gradient(135deg, #A47B4C 0%, #CBC47E 60%, #127275 100%);
}




header {
    width: 100%;
    margin: 10px;
    font-family: 'Bungee', cursive;
    font-size: 28px;
}
header a {
    text-decoration: none;
    color: black;
}


/*          NAVBAR          */
.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    background-color: aliceblue;
}
.nav button {
    border: none;
    padding: 10px 30px;
    background-color: aliceblue;
    font-family: 'Hubballi', cursive;
    font-size: 20px;
}
.nav button:hover {
    background-color: black;
    color: bisque;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}




.wrapper {
    width: 100%;
    margin: 20px 0;
}
.wrapper li {
    list-style: none;
}
.wrapper .person-list {
    margin: 10px 30px;
    font-size: 23px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 280px));
    row-gap: 30px;
}
.wrapper .add-remove {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    font-family: 'Hubballi', cursive;
    gap: 20px;
}
.wrapper .add-remove #add {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 15px;
    padding: 30px;
    border-radius: 30px;

    
    background: rgb(255, 255, 255);
    border: 2px dashed #1C6EA4;
}
.wrapper .add-remove #add .labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper .add-remove #add .labels input {
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomright: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    padding: 0 20px;
    background-color: #ecd0af;
    /* font-family: 'Amatic SC', cursive; */
}
.wrapper .add-remove #add .labels #radio {
    display: flex;
    flex-direction: row;
}
.wrapper .add-remove #add .labels #radio input {
    align-self: center;
    margin: 0 40px 0 3px;
}
.wrapper .add-remove button {
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-family: 'Hubballi', cursive;
    font-size: 15px;
    cursor: pointer;
}
.wrapper .add-remove button:hover {
    color: black;
    background-color: white;
    border: 1px black inset;
}
.wrapper .add-remove #remove {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 15px;
    align-self: end;
    padding: 30px;
    border-radius: 30px;

    background: rgb(255, 255, 255);
    border: 2px dashed #1C6EA4;
}
.wrapper .add-remove #remove .labels {
    display: flex;
    flex-direction: column;    
}
.wrapper .add-remove #remove #search::placeholder {
    text-align: center;
}
.wrapper .add-remove #remove .labels input {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #ecd0af;
}
.wrapper .add-remove #remove .rem-btn {
    display: none;
}
.wrapper .add-remove #remove .on .rem-btn {
    display: block;
}
.wrapper .add-remove #remove .on #rem-btn {
    margin: 10px auto;
}




.cards {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 200px;
    padding: 5px 10px;
    margin: 5px auto;
    border: 2px solid #1C6EA4;
}





footer {
    width: 100%;
    font-size: 15px;
    background-color: black;
    color: azure;
}
footer p {
    padding: 5px 20px;
}
footer a {
    color: azure;
}
footer a:hover {
    text-decoration: none;
}







/*    MEDIA QUERIES    */ 
/* Telefono */
@media (max-width: 321px) {
    header {
        font-size: 18px;
    }

    .nav button {
        font-size: 13px;
    }




    footer {
        font-size: 13px;
    }
}

@media (max-width: 376px) {
    header {
        padding: auto 4px;
        font-size: 18px;
    }

    .nav button {
        font-size: 13px;
    }




    footer {
        font-size: 13px;
    }
}